@font-face {
  font-family: "iconfont"; /* Project id 4685520 */
  src: url('iconfont.woff2?t=1749283769553') format('woff2'),
       url('iconfont.woff?t=1749283769553') format('woff'),
       url('iconfont.ttf?t=1749283769553') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-superpowers:before {
  content: "\f243";
}

.icon-guanyuwomen:before {
  content: "\e655";
}

.icon-liuhang:before {
  content: "\e8f4";
}

.icon-plugin:before {
  content: "\e621";
}

.icon-tauri:before {
  content: "\e63c";
}

.icon-plugin1:before {
  content: "\e612";
}

.icon-power:before {
  content: "\e6a4";
}

.icon-popular:before {
  content: "\e69e";
}

.icon-qr2:before {
  content: "\e6a5";
}

.icon-qrcode:before {
  content: "\e76e";
}

.icon-qunliao:before {
  content: "\e6f4";
}

.icon-qunliao1:before {
  content: "\e67a";
}

.icon-bitcoin:before {
  content: "\e636";
}

.icon-bitcoin1:before {
  content: "\e603";
}

.icon-solana:before {
  content: "\e652";
}

.icon-dwasdwas:before {
  content: "\e60c";
}

.icon-bnb:before {
  content: "\e605";
}

.icon-ETH-Ethereum:before {
  content: "\e60f";
}

.icon-zaixian:before {
  content: "\e658";
}

.icon-windows1:before {
  content: "\e69a";
}

.icon-windows:before {
  content: "\e6b0";
}

.icon-linux:before {
  content: "\e601";
}

.icon-mac:before {
  content: "\e60e";
}

.icon-rotaterightvariant:before {
  content: "\ea57";
}

.icon-rotate-left-variant:before {
  content: "\e880";
}

.icon-rotate:before {
  content: "\e66b";
}

.icon-close:before {
  content: "\e644";
}

.icon-close1:before {
  content: "\e62f";
}

.icon-setting1:before {
  content: "\e667";
}

.icon-tips:before {
  content: "\e66f";
}

.icon-tips1:before {
  content: "\e666";
}

.icon-tips2:before {
  content: "\e6b5";
}

.icon-icon_tips:before {
  content: "\e676";
}

.icon-twitter:before {
  content: "\e63d";
}

.icon-yooxi:before {
  content: "\e604";
}

.icon-zhifeiji:before {
  content: "\e6a0";
}

.icon-email:before {
  content: "\e602";
}

.icon-youtube:before {
  content: "\ec32";
}

.icon-tiktok:before {
  content: "\eb73";
}

.icon-theme:before {
  content: "\e635";
}

.icon-zhongyingwenqiehuan_zhongwen:before {
  content: "\e6a2";
}

.icon-zhongyingwenqiehuan_EN:before {
  content: "\e6a3";
}

.icon-wangluo:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e709";
}

.icon-iconfontweixin:before {
  content: "\e638";
}

.icon-weixin:before {
  content: "\e64b";
}

.icon-zhifubaozhifu:before {
  content: "\e654";
}

.icon-zhifubaozhifu1:before {
  content: "\e634";
}

