/* .vitepress/theme/custom.css */
:root {
    --vp-c-brand-1: #646cff;
    --vp-c-brand-2: #747bff;
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
        120deg,
        #bd34fe 30%,
        #41d1ff
    );
}

.VPImage:hover {
    filter: drop-shadow(0 0 2em var(--vp-c-brand-1));
    transition: all 0.5s ease;
}

.modalBox {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 150px;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 5px;
    color: #000;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .modalContent {
        width: 80%;
    }
}

.modalTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modalButtons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modalButtons button {
    padding: 6px 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #409eff;
    color: #fff;
    border: none;
    margin-top: 20px;
    font-weight: bold;
}

.modalButtons button:hover {
    background-color: #3688fa;
}

.modalButtons button:active {
    background-color: #3688fa;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #c0c4cc;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #909399;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.dark ::-webkit-scrollbar-track {
    background: transparent;
}

.dark ::-webkit-scrollbar-thumb {
    background: #4e4e52;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background: #6d6d70;
}

/* 赞助商公司头像圆角 */
.avatar-img {
    border-radius: 10px !important;
}
