@charset "utf-8";

@media (max-width: 1440px){
}

a {
color:#000000;
text-decoration:none; 
}

a:hover {
color:#000000;
text-decoration:none;

}

body{
    -moz-user-select:none; 
    -webkit-user-select:none; 
    -ms-user-select:none; 
    -khtml-user-select:none; 
    user-select:none;
	width:1440px;
}

